@import "../../global.scss";

@include mobile{
    flex-direction: column;
    align-items: center;
}

.about-title h1{
    font-size: 50px;
    padding-top: 15px;
    color:gray;
    text-align: center;

}
    


.imgcontainer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 250px;
        height: 250px;
        border-radius: 50%;

    }

    
}

.about-text{
    text-align: center;
    max-width: 550px;
    margin: auto;
}

.about-text h2{
    padding-top: 20px;
    font-size: 30px;
    color:black;
    padding-bottom: 10px;
}

.about-text p{
    font-size: 30px;
    align-items: center;
    justify-content: center;

}

