.contact{
    background-color: white;
    
}

.title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    border: 1.5px  solid #aaa;
    padding: 50px 30px;
}

form{
    width: 460px;
    margin: 0 auto;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.label{
    float: left;
    margin-right: 20px;
    width: 135px;
    border-left: solid 3px #c2704f;
    padding-left: 10px;
}

@media screen and (max-width: 321px){
    .filter{
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 10px;
    }
}

@media screen and (max-width: 720px){
    .filter{
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 10px;
    }
}
