.skill{
    background-color: white;
    
}

.contents{
    align-items: center;
    justify-content: center;
    }

.contents h1{
    margin-top: 20px;
    padding-top: 15px;
    font-size: 50px;
    color:gray;
    text-align: center;
}

.contents-item{
    float: left;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

    img{
        width: 300px;
        height: 300px;
        padding-top: 20px;

    }
}

.contents-item p{
    font-size: 42px;
    margin-top: 40px;
}